<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
</head>
<body>
<h1>Project Details<br>
    Tottenham Hotspur Football Club<br>
    Project Member Number 1 : 21K-3911 (Muhammad Ammad) <br>
    Project Member Number 2 : 21K-3897 (Sabeh Ur Rahman Ansari)
    </h1>

<p>Tottenham Hotspur Football Club, commonly known as Tottenham or Spurs, is a professional football team based in Tottenham, London, England. The club competes in the Premier League, the highest tier of English football, and has been playing its home matches at the Tottenham Hotspur Stadium since April 2019. This stadium, with a capacity of 62,850, replaced their former home, White Hart Lane, which was demolished to make way for the new facility on the same site.

    Established in 1882, Tottenham's emblem features a cockerel standing on a football, accompanied by the Latin motto Audere est Facere ("to dare is to do"). The team has consistently sported white shirts and navy blue shorts as their home kit since the 1898–99 season. Their training ground is located at Hotspur Way in Bulls Cross, Enfield.

    Tottenham made history in 1901 by winning the FA Cup, marking the first time a non-League club achieved this since the formation of the Football League in 1888. In the 1960–61 season, they became the first club in the 20th century to accomplish the League and FA Cup Double. In 1963, they secured another milestone as the first British club to win a UEFA club competition – the European Cup Winners' Cup. Tottenham further claimed victory in the UEFA Cup in 1972, making them the first British club to win two different major European trophies. The club achieved at least one major trophy in each decade from the 1950s to the 2000s, a feat matched only by Manchester United.

    On the domestic front, Spurs have earned two league titles, eight FA Cups, four League Cups, and seven FA Community Shields. In European competitions, they clinched one European Cup Winners' Cup and two UEFA Cups. Tottenham reached the finals of the UEFA Champions League in the 2018–19 season but were runners-up. The club shares a fierce rivalry with nearby Arsenal, engaging in the North London derby.

    ENIC Group has owned Tottenham since 2001, and as of 2022, the club is estimated to be worth £1.9 billion ($2.35 billion). In the same year, Tottenham ranked as the ninth-highest-earning football club globally, boasting an annual revenue of £442.8 million.</p>
<a th:href="@{/}">
    <button>Back to Home</button>
</a>
</body>
</html>
